/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 10px;
    height: 10px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2;  
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-block-start: 10px;
}

/* Help button circle */
.help-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff6600;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.75;
}

.help-button:hover {
    background-color: #ff8533;
}

/* Modal (popup) styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    overflow: auto;
    transition: opacity 0.5s ease;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal Content Styling */
.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.close {
    font-size: 30px;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/* Add smooth scroll to modal content */
@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Add some padding and border-radius to list items for better readability */
.instruction-step {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.instruction-step h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 8px;
}

.instruction-step p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-block: 0px;
}

.instruction-step ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 20px;
}

.instruction-step ul li {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.instruction-step ul li i {
    color: #007bff;
    margin-right: 5px;
}

.start {
    display: flex;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

/*Design File Input Button*/
input[type="file"] {
    display: none;
}

.uploadCSV{
    display: flex;
    justify-content: center;
}
  
.custom-file-upload, #startEmpty {
    display: inline-flex;
    padding: 8px;
    align-items: center;
    gap: 10px;
    background-color: #007bff;
    margin-bottom: 10px;
}  

.custom-file-upload p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.custom-file-upload:hover, #startEmpty:hover {
    background-color: #0056b3;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
}

#csvTable {
    width: max-content; /* Ensures the table takes up as much space as it needs */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table .thead{
    background-color: #ddd;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th{
    cursor: pointer;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data-control{
    display: flex;
    gap: 5px;
}

#refreshFilter {
    width: auto;
    padding: 5px 10px;      /* Adjust the padding to make it as short as possible */
    white-space: nowrap;    /* Prevent text wrapping */
    display: none;
    align-items: center;
}

#refreshFilter i {
    margin-right: 5px;
}

.headerFilter{
    padding: 7px;    
    background: #fff;
    color: #000;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 36px;
    transition: height .4s ease;
}

.headerFilter option:first-child{
    background-color: #ccc;
}

/* Center the search bar container */
.search-container {
    display: none;
    justify-content: center;
    position: relative;
    width: 100%;
}

/* Style for the input field */
#searchBar {
    width: 100%;
    padding-left: 30px !important; /* Space for the icon */
    padding: 8px;
    margin-right: 5px;
    border: 2px solid #000;
    border-radius: 4px;
}

/* Icon style inside the search bar */
.search-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Style for the X mark button */
.clear-button {
    display: none;
    position: absolute;
    right: 8px;
    top: 47%;
    width: 30px;
    height: 30px;
    padding: 15.5px;
    font-size: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background: rgba(207, 207, 207);
}

.clear-button:active {
    background: rgba(169, 169, 169);
}

button, .custom-file-upload, #startEmpty {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

.buttons {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
}
.remove-btn i {
    font-size: 18px;
}

.remove-btn:hover{
    background-color: #d32f2f;
}

#scrollButtons {
    position: fixed;
    width: 36px;
    bottom: 20px;
    right: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

#scrollButtons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .165), 0 4px 6px -4px rgba(0, 0, 0, .165);
    opacity: 0.75;
}

#scrollButtons button:hover {
    background-color: #0056b3;
}